@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */

  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.Main {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  background-color: #f0f2f5;
  box-shadow: none;
  /* padding: 14px; */
  min-height: 100vh;
  /* min-width: 100vw; */
  display: flex;
  position: relative;
  /* background-color: aqua; */
  flex-direction: row;
  /* justify-content: space-between; */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 14.125rem;
}

.navbarMain {
  display: flex;
  justify-content: center;
  width: 100%;
  /* position: sticky; */
  /* z-index: 1100; */
  left: auto;
  top: 0.75rem;
  right: 0px;
  padding: 0 15px;
  background-color: #f0f2f5;
}

.navbar {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: sticky;
  z-index: 1132322300;
  left: auto;
  right: 0px;
  color: rgb(52, 71, 103);
  top: 0.75rem;
  background-color: #f0f2f5;
  min-height: 4.6875rem;
  border-radius: 0.75rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(123, 128, 154);
}

.navbar2 {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  box-sizing: border-box;
  /* flex-shrink: 0; */
  /* position: sticky; */
  z-index: 1100;
  left: auto;
  right: 0px;
  box-shadow: none;
  backdrop-filter: none;
  color: rgb(123, 128, 154);
  top: 0.75rem;
  min-height: 4.6875rem;
  align-items: center;
  border-radius: 0.75rem;
  padding: 0.5rem 0.5rem;

  background-color: transparent !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar i {
  font-size: 28px;
  margin-left: 20px;
  color: black;
  transition: 0.1s;
  cursor: pointer;
}

.navbar i:hover {
  color: white;
}

.navbar img {
  align-self: center;
  justify-self: center;
  width: 80px;
  margin-top: -7px;
}

.navbar .logocenter {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 38px;
}

.nav-menu {
  width: 250px;
  position: fixed;
  display: flex;
  justify-content: center;
  max-width: 230px;
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  margin-bottom: inherit;
  /* top: 14px; */
  /* left: 10px; */
  width: 230px;
  transform: translateX(0px);
  /* background: linear-gradient(195deg, rgb(62, 62, 73), rgb(25, 25, 25)); */
  transform: translateX(0px);
  transition: width 225ms;
  transition: 0.8s;
  z-index: 100000000000000000000;
  position: fixed;
  height: calc(100vh - 2rem);
  /* background-color: var(--primary); */
  /* background: rgb(4, 75, 122); */
  /* background: linear-gradient(90deg, rgba(4, 75, 122, 1) 2%, rgba(4, 99, 119, 1) 100%); */
  background-color: #052e3b;
}

.nav-menu-active1 {
  /* left: 20px; */
  width: 250px;
  position: fixed;
  display: flex;
  justify-content: center;
  max-width: 230px;
  /* border-radius: 0.75rem; */
  /* background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)); */
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  margin-bottom: inherit;
  /* left: 10px; */
  width: 230px;
  transform: translateX(0px);
  /* background: linear-gradient(195deg, rgb(62, 62, 73), rgb(25, 25, 25)); */
  transform: translateX(0px);
  transition: width 225ms;
  transition: 0.6s;
  z-index: 99;
  height: calc(100vh - 0rem);
  /* background-color: var(--primary);*/
  /* background: rgb(4, 70, 113); */
  /* background: linear-gradient(90deg, rgba(4,75,122,1) 2%, rgba(4,99,119,1) 100%); */
  transition: 1s ease-in-out;
  background-color: aquamarine;
  background: rgb(4, 75, 122);
  background-color: #052e3b;
}

.nav-menu-active1 .nav-menu-items .hr {
  width: 80%;
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 20px;
  /* padding-left: 10px; */
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}

.nav-menu .nav-menu-items .hr {
  width: 80%;
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 20px;
  /* padding-left: 10px; */
  border-bottom: none;
  opacity: 0.25;

  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}

.nav-menu-active1 .nav-menu-items {
  width: 100%;
  margin-left: -30px;
  height: 100%;
}

.nav-menu .nav-menu-items {
  width: 100%;
  height: 100%;
}

.nav-menu-active1 .nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  min-width: 38px;
  margin: 2px 0;
}

.nav-menu .nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  min-width: 38px;
  /* margin: 2px 0; */
}

.anc1 {
  visibility: hidden;
}

.nav-menu-active1 .nav-menu-items .nav-text a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  /* background-color: #77859169; */
}

.nav-menu .nav-menu-items .nav-text a {
  text-decoration: none;
  color: white;
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: #77859169; */
}

.nav-menu-active1 .nav-text a:hover {
  color: aliceblue;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0.315);
  transition: 0.5s;
}

.nav-menu .nav-text a:hover {
  color: aliceblue;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0.315);
  transition: 0.5s;
}

.nav-menu-active1 .nav-menu-items .nav-text a span {
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-menu .nav-menu-items .nav-text a span {
  display: inline-block;
  font-size: 16px;
  width: 54%;
  padding-left: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* font-family: 'Roboto Flex', sans-serif; */
  /* font-weight: 800; */
}

.nav-menu-active1 .nav-text:hover {
  color: var(--secondry);
}

.nav-menu .nav-text:hover {
  color: var(--secondry);
}

.nav-menu-active1 .nav-menu-items .hr1 {
  width: 70%;
  color: white;
  height: 2.3px;
  background-color: white;
  border-radius: 100px;
  margin-top: 30px;
  margin-left: 29px;
}

.nav-menu .nav-menu-items .hr1 {
  width: 70%;
  color: white;
  height: 2.3px;
  background-color: white;
  border-radius: 100px;
  margin-top: 30px;
  margin-left: 29px;
}

.nav-menu-active1 .nav-text {
  display: flex;
  flex-direction: column;
}

.nav-menu .nav-text {
  display: flex;
  flex-direction: column;
}

.flexstart {
  justify-content: flex-start !important;
  padding-left: 40px;
}

.top {
  /* padding: 24px 0px 0px 0;
  ba */
  text-align: center;
  opacity: 1;
  background: transparent;
  /* color: rgb(52, 71, 103); */
  box-shadow: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.top img {
  width: 70%;
}

@media only screen and (max-width: 764px) {
  .anc1 {
    font-size: 3px;
    visibility: visible;
  }
  .nav-menu-active1 {
    left: -1110px;
  }

  .Main {
    padding: 0px;
  }

  .main {
    margin-left: 0;
  }
}
.breadcrapms {
  display: flex;
  align-items: center;
}

.breadcrapms span {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.0075em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  /* color: rgb(52, 71, 103); */
  font-weight: 700;
  background-color: #f0f2f5;
}

@media only screen and (max-width: 572px) {
  .breadcrapms span {
    margin: 0px;
    font-size: 0.8rem;
    /* line-height: 1.625; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .anc4 {
    visibility: hidden;
  }
  .nav-menu {
      height: calc(100vh - -32rem);
  }
}

@media only screen and (max-width: 375px) {
  .breadcrapms span {
    margin: 0px;
    font-size: 0.6rem;
    /* line-height: 1.625; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .circularportrait {
    display: none;
  }
  .nav-menu {
    height: calc(100vh - -32rem);
}
}
